<mat-card-content>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div
      fxLayout="row"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
    >
      <mat-form-field>
        <input type="text" matInput placeholder="First name"
               formControlName="first_name">
        <mat-error *ngIf="form.first_name.errors">
          First name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Last name"
               formControlName="last_name">
      </mat-form-field>
    </div>

    <div fxLayout="column">
      <mat-form-field fxFlex>
        <input type="email" matInput placeholder="Email"
               formControlName="email">
        <mat-error *ngIf="form.email.errors?.required">
          Email is required
        </mat-error>
        <mat-error *ngIf="form.email.errors?.serverError">
          {{ form.email.errors?.serverError }}
        </mat-error>
      </mat-form-field>

    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex>
        <span matPrefix> +91 &nbsp;</span>
        <input type="text" matInput placeholder="Phone number (optional)"
               formControlName="phone_number">
        <mat-error *ngIf="form.phone_number.errors">
            Enter valid phone number
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field fxFlex>

        <input matInput [type]="hidePassword ? 'password' : 'text'"
               placeholder="Password" formControlName="password">
        <button mat-icon-button matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">

          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <div>
        <a routerLink="/login" class="btn btn-link">Cancel</a>

      </div>
      <div>

        <button [disabled]="loading" type="submit"
                mat-raised-button color="primary">
          Register
        </button>
      </div>
    </div>


  </form>
</mat-card-content>
