<mat-card>
  <mat-tab-group>
    <mat-tab label="Login">
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </p>

          <p *ngIf="error" class="error">
            {{ error }}
          </p>

          <div fxLayout="row"
               fxLayoutAlign="space-between">
            <div
              fxLayoutAlign="end end">
              <a routerLink="/Forgot-password" data-cy="forgetPasswordLink">
                Forgot password?
              </a>
            </div>
            <div>
              <div class="button">
                <button [disabled]="loading" type="submit" mat-raised-button color="primary">Login</button>
              </div>
            </div>

          </div>

        </form>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Register">
      <app-register></app-register>
    </mat-tab>
  </mat-tab-group>

  <app-google-login></app-google-login>

</mat-card>
