:host {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.mat-card-content{
  padding-top: 15px;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
