<section id="meditation-section" class="meditation home-section light-gray">
  <div class="container">
    <div fxLayout="row" fxLayout="space-evenly center">
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="center">
        <h3 class="m-0 font-light">Meditation</h3>
        <h5><strong> Try Self Care with Meditation</strong></h5>
        <p>
          Become an active part of the solution to end human loneliness and isolation. Join a community of caring
          listeners, and gain access to unparalleled training from leading experts in psychology, business,
          neuroscience, and more.
        </p>

        <p>
          Download the app to sign up.

        </p>

      </div>
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="center">
        <img src="https://assets.website-files.com/5da8b2b914f9dc99f5cc7284/5da8b2b914f9dc79fccc7593_bg8-1.svg">
      </div>
    </div>
  </div>
</section>
