<section id="service-section" class="home-section">
  <div class="container">
    <div class="section-header">
      <h2>Our Services</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi
        placeat
        at.
      </p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>self_improvement</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Meditation</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">
              Mindfulness for your everyday life.
              Stress less. Move more. Sleep soundly.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>people</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Listeners</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam
              quis.</p>
            <span fxFlex></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>emoji_people</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Therapist</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam
              quis.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>groups</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Studio</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam
              quis.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button><strong class="text-muted">READ MORE</strong></button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
