<div fxLayout="row" fxLayoutAlign="space-around center">

  <mat-card class="login-card">
    <mat-card-content>
      <mat-card-title>Forgot Password?</mat-card-title>

      <div>
        You can reset your password here.
      </div>
      <div>
        Please enter the registered email address to receive OTP.
      </div>
      <br>
      <p>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
      </p>
      <p *ngIf="otpSent">
        <mat-form-field>
          <mat-label>OTP</mat-label>
          <input matInput [formControl]="codeControl" placeholder="Ex. SE23CS">
          <mat-hint align="start"><strong>Enter the OTP sent to your email and phone.</strong></mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Please enter a valid 6 characters OTP
          </mat-error>
          <mat-error *ngFor="let err of codeControl.errors?.serverError">
            {{ err }}
          </mat-error>
        </mat-form-field>
      </p>

      <p *ngIf="otpSent">
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'"
                 matInput [formControl]="passwordControl">

          <button mat-icon-button matSuffix
                  (click)="hidePassword = !hidePassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint align="start">Enter the new password here. Min 6 alphanumeric characters.</mat-hint>
          <mat-error *ngIf="passwordControl.hasError('required')">
            New password is <strong>required</strong>
          </mat-error>
          <mat-error *ngFor="let err of passwordControl.errors?.serverError">
            {{ err }}
          </mat-error>

        </mat-form-field>
      </p>

      <div fxLayout="row"
           fxLayoutAlign="space-between">
        <div
          fxLayoutAlign="end end">
          Already a member?
          <a routerLink="/accounts/login" data-cy="forgetPasswordLink">
            &nbsp;Login
          </a>
        </div>
        <div>
          <div class="button">
            <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
